html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: white;
    font-family: 'Merriweather Sans' ;
}

nav > logo {
    grid-area: "logo";

    
}

nav > dropdown {
    grid-area: "dropdown";
    justify-self: flex-end;
    margin-left: auto;
}


h1 {
    margin-left: 10px;
}
#app {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "nav"
    "main";
    grid-template-rows: 50px 1fr;
}

#app > nav {
    display: grid;
    grid-area: nav;
    justify-items: start;
    grid-template-areas: "title dropdown";
    align-items: center;
    color: white;
    background-color: #010626;

}

#app > main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    background-color: #4D463D;

}

#animaldropdown {
    overflow: hidden;
    background-color: white;
    color:  black;
    width: 175px;
    margin-bottom: 10px;
}

.dropdowncontent {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    color: black;

}

.dropdowncontent a {
    float: none;
    display: block;
    padding: 3px 3px;
}

.dropdowncontent a:hover {
    background-color: darkgrey;
    color: white;
}

#dropdown:hover .dropdowncontent {
    display: block;
}

#card1 {
    display: grid;
    grid-template-areas: "tabs"
                         "tabcontent";
    margin-bottom: 200px;
}

.animal-card {
    background-color: white;
    width: 225px;
    margin: 10px;
    height: 425px;
    box-shadow: 5px 7px black;
}

.animal-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

}
img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#left {
    grid-area: left;
}
 #right {
     grid-area: right;
     padding-left: 10px;
     
 }
#petform {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
}
#petform > input[type=text] {
    display: block;
    
    
}

#petform2 {
    display: grid;
    height: 350px;
    background-color: white;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;

    padding: 15px;
    padding-bottom: none;
    color: black;
    
}

#login {
    width:  690px;
    height: 30px;
    background-color: #010626;
    padding: 8px;
    font-size: 20px;
    margin-top: 50px;
}

#loginsignup {
    display: grid;
    height: 350px;
    background-color: white;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;

    padding: 15px;
    padding-bottom: none;
    color: black;
    
}
#petform2 > input[type=text] {
    display: block;
    
}

#description {
    
    height: 70%;
    width:  90%;
    resize: none;
    
}
#description2 {
    padding-left: 15px;
    height: 70%;
    width:  90%;
    resize: none;
    
}

/*#tableft {
    position: relative;
    left: 0px;
}*/

label {
    display: block;
}

.box {
    margin: 10px 0 10px 0;
}

.wrapper {
    margin: auto;
    width: 50%;
}



ul {
    list-style-type: none;
    color: black;
    margin-bottom: 20px;

}

button:hover{
    background-color:rgb(158, 22, 47);
}


.animaldescription {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 45px;
}


  
/* Style the buttons that are used to open the tab content */
.tabs button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}


#tabcontent {   
    grid-area: tabcontent;
    background-color: white;
    color: black;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

button {
    background-color: rgb(48, 47, 47);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    height: 25px;
}

.submit {
    margin-top: 10px;
}

#views {
    background-color: inherit;
    color: white;
}

#impound {
    width:  1000px;
    height: 30px;
    background-color: #010626;
    padding: 8px;
    font-size: 20px;
}

#adoption {
    width:  725px;
    height: 30px;
    background-color: #010626;
    padding: 8px;
    font-size: 20px;
    margin-top: 50px;
}

#relist {
    width:  608px;
    height: 30px;
    background-color: #010626;
    padding: 8px;
    font-size: 20px;
    margin-top: 50px;
}



